@media only screen and (max-width:768px){.prevent-overlay[data-v-55c4c447]{position:fixed;top:0;left:0;width:100%;height:100%;visibility:hidden;z-index:50}.prevent-overlay.show[data-v-55c4c447]{visibility:visible}}