<template>
  <div class="col-2 container">
    <MatchSchedule></MatchSchedule>
    <Standings></Standings>
  </div>
</template>
<script>
const url = process.env.VUE_APP_URL;

const MatchSchedule = () => import("@/components/homePage/Match_schedule");
const Standings = () => import("@/components/homePage/Standings");

export default {
  methods: {
    setTeams() {
      this.axios
        .get(url + "/teams", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json",
          },
        })
        .then((response) => {
          const payload = response.data;
          return this.$store.dispatch("setTeams", payload);
        });
    },
  },
  mounted() {
    this.setTeams();
  },
  components: {
    MatchSchedule,
    Standings,
  },
};
</script>
<style lang="scss">
.col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 9rem 0 10rem;
  @media (max-width: 992px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 6rem;
    padding-bottom: 8rem;
  }
}
.match-block > div:not(.img):first-of-type {
  .table div:not(.img):last-of-type {
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      right: -3rem;
      height: 8rem;
      width: 2px;
      background: #ececec;
      content: "";
      @media only screen and (max-width: 992px) {
        right: -4rem;
      }
    }
  }
}
</style>