<template>
  <div class="not-found-page">
    <h1>404</h1>
    <h2>page not found</h2>
  </div>
</template>
<style lang="scss" scoped>
.not-found-page {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: #fff;
  h1 {
    text-align: center;
    font-size: 8rem;
    font-weight: 500;
    color: #282936;
  }
  h2 {
    font-size: 3rem;
    color: #282936;
  }
}
</style>