<template>
  <div class="template-page">
    <div class="intro" :style="{ backgroundImage: 'url(' + mainImage + ')' }">
      <div class="bg-line container"></div>
      <div
        class="container container-small content content-image"
        :style="{ backgroundImage: 'url(' + mainImage + ')' }"
      >
        <div>
          <div class="container-small">
            <h4 class="part-title white part-title-small">{{ info.title }}</h4>
            <app-tags :tags="info.tags" class="white"></app-tags>
          </div>
        </div>
        <app-btn-back :backInfo="backInfo"></app-btn-back>
      </div>
    </div>
    <div class="page-content container">
      <div class="container-small">
        <div class="about">
          <div class="date-title">
            <h5>{{ info.createdAt | moment("dddd MMM DD YYYY") }}</h5>
            <app-share></app-share>
          </div>
          <div v-html="info.content"></div>
        </div>
        <div class="info">
          <app-tags :tags="info.tags"></app-tags>
          <app-share></app-share>
        </div>
      </div>
    </div>
    <SliderNews></SliderNews>
    <BottomSection></BottomSection>
  </div>
</template>
<script>
import Share from "@/components/shared/Share";
import Tags from "@/components/shared/Tags";
import News from "@/components/shared/News";
import BackBtn from "../components/shared/Back-btn";

const SliderNews = () => import("@/components/shared/SliderNews");
const BottomSection = () => import("@/components/shared/BottomSection");

const url = process.env.VUE_APP_URL;

export default {
  name: "single-news",
  data() {
    return {
      id: this.$route.params.id,
      backInfo: {
        name: "back to news",
        path: "/news",
      },
      info: {},
    };
  },
  computed: {
    mainImage() {
      var image;
      if (this.info.images) {
        var mas = this.info.images.length;
        this.info.images.forEach((element, index) => {
          if (index === 0) {
            image = element.imageUrl;
          }
        });
      }
      return image;
    },
  },
  watch: {
    $route(to, from) {
      this.id = to.params.id;
      this.setNews();
    },
  },
  methods: {
    navigateToHome() {
      this.$router.push("/news");
    },
    setNews() {
      this.axios
        .get(url + "/articles", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json",
          },
        })
        .then((response) => {
          const payload = response.data;
          this.$store.dispatch("setNews", payload);
          this.news();
        });
    },
    news() {
      const newsId = this.$route.params.id;
      this.$store.getters.news.filter((el) => {
        if (el.id == newsId) {
          return (this.info = el);
        }
      });
    },
    videoOverlay() {
      document.querySelectorAll(".about p > img").forEach((element) => {
        if (!element.classList.contains("video-done") && !element.alt == "") {
          element.classList.add("video-done");
          var cloneElement = element.cloneNode(true);
          var newDiv = document.createElement("div");
          var elemAlt = element.alt;
          newDiv.classList.add("photo-video");

          newDiv.innerHTML =
            "<div class='preview'><a href='javascript:void(0);' class='btn-wrapper'><span class='btn btn_play circle' aria-hidden='true'><span class='icon arrow'></span></span></a></div>";

          newDiv.appendChild(cloneElement);
          element.parentNode.insertBefore(newDiv, element);
          element.classList.add("video-done");
        }
      });
    },
    modalOpen(element) {
      var payload = {};
      payload.videoLink = element.toElement.closest(".preview").nextSibling.alt;
      payload.show = true;
      this.$store.commit("showModal", payload);
      const scrollY = document.documentElement.style.getPropertyValue(
        "--scroll-y"
      );
      const body = document.body;
      body.style.position = "fixed";
      body.style.top = `-${scrollY}`;
    },
  },
  mounted() {
    this.setNews();
    setTimeout(
      function () {
        var payload = {};
        document.querySelectorAll(".btn-wrapper").forEach((element) => {
          element.addEventListener("click", this.modalOpen);
        });
      }.bind(this),
      1500
    );
  },
  updated() {
    //this.setNews();
    this.news();
    this.videoOverlay();
  },
  components: {
    "app-share": Share,
    "app-tags": Tags,
    SliderNews,
    "app-news": News,
    "app-btn-back": BackBtn,
    BottomSection,
  },
};
</script>
<style lang="scss" scoped>
.content-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: none;
  @media only screen and (max-width: 768px) {
    background-image: none !important;
  }
}
.template-page > .about {
  padding-bottom: 7.4rem;
  display: flex;
}
</style>