<template>
  <div class="sponsors-page container">
    <h4 class="title">Sponsors</h4>
    <div class="content">
      <div class="item" v-for="item in sponsors" :key="item.title">
        <div>
          <img :src="item.logoUrl" :alt="item.title" />
        </div>
        <div>
          <h5>{{item.name}}</h5>
          <p>Partner of Bridgeport United FC</p>
          <a :href="item.url" target="_blank">
            <span>visit website</span>
            <svg width="19" height="10" viewBox="0 0 19 10">
              <rect
                x="-0.000488281"
                y="5.69861"
                width="1.41469"
                height="17.6837"
                transform="rotate(-89.808 -0.000488281 5.69861)"
                fill="#262262"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.6734 5.13053L13.8038 0.00012207L12.7778 0.974041L16.6734 5.07837L12.5691 8.97407L13.543 10.0002L18.6734 5.13056L18.6734 5.13055L18.6734 5.13053Z"
                fill="#262262"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const url = process.env.VUE_APP_URL;
export default {
  data() {
    return {};
  },
  computed: {
    sponsors() {
      return this.$store.getters.sponsors;
    },
  },
  methods: {
    setSponsors() {
      this.axios
        .get(url + "/sponsors", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json",
          },
        })
        .then((response) => {
          const payload = response.data;
          return this.$store.dispatch("setSponsors", payload);
        });
    },
  },
  mounted() {
    this.setSponsors();
  },
};
</script>
<style lang="scss" scoped>
.container {
  padding: 8.4rem 0 4rem;
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  & > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc((100% - 6.5rem) / 2);
    margin-top: 4rem;
    margin-bottom: 5.5rem;
    @media only screen and (max-width: 1499px) {
      margin-bottom: 3rem;
    }
    @media only screen and (max-width: 499px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    &:nth-child(odd) {
      margin-right: 5.5rem;
    }
    @media only screen and (max-width: 992px) {
      width: calc((100% - 3.5rem) / 2);
      &:nth-child(odd) {
        margin-right: 3.5rem;
      }
    }
    @media only screen and (max-width: 768px) {
      width: 80%;
      margin: 5.5rem auto 4rem;
      &:nth-child(odd) {
        margin: 5.5rem auto 4rem;
      }
    }
    @media only screen and (max-width: 599px) {
      width: 100%;
    }
    & > div:first-child {
      width: 18rem;
      margin-right: 4.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @media only screen and (max-width: 599px) {
        margin-right: 3rem;
      }
      @media only screen and (max-width: 499px) {
        margin-right: 0;
        margin-bottom: 4rem;
        width: 22rem;
      }
      img {
        width: 100%;
      }
    }
    & > div:last-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      @media only screen and (max-width: 499px) {
        width: 100%;
      }
    }
    h5 {
      font-size: 2.2rem;
      line-height: 4rem;
      color: #363636;
      font-weight: 700;
    }
    p {
      font-size: 1.6rem;
      line-height: 2rem;
      padding: 1.2rem 0 4rem;
      font-weight: 400;
      color: #363636;
    }
    a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      span {
        color: #262262;
        font-size: 1.2rem;
        line-height: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        @media only screen and (max-width: 768px) {
          font-size: 2rem;
          line-height: 2rem;
        }
      }
      svg {
        margin-left: 1rem;
      }
    }
    svg {
      width: 2rem;
    }
  }
}
</style>