<template>
  <div>
    <div class="container">
      <div class="header">
        <h4 class="title">Staff</h4>
      </div>
      <div class="content">
        <app-staff v-for="item in staff" :item="item" :key="item.id"></app-staff>
      </div>
    </div>
    <BottomSection></BottomSection>
  </div>
</template> 
<script>
import StaffCard from "@/components/shared/Staff-card";
const url = process.env.VUE_APP_URL;

const BottomSection = () => import("@/components/shared/BottomSection");

export default {
  data() {
    return {};
  },
  computed: {
    staff() {
      return this.$store.getters.staff;
    },
  },
  methods: {
    setPlayers() {
      this.axios
        .get(url + "/participants", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json",
          },
        })
        .then((response) => {
          const payload = response.data;
          return this.$store.dispatch("setPlayers", payload);
        });
    },
  },
  mounted() {
    this.setPlayers();
  },
  components: {
    "app-staff": StaffCard,
    BottomSection,
  },
};
</script>

<style lang="scss" scoped>
.container {
  padding: 9.5rem 0 7rem;
  @media only screen and (max-width: 650px) {
    padding-top: 3rem;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 4rem;
  &.in-viewport {
    transition-duration: 1s;
    transition-delay: 1.2s;
  }
}
h3 {
  margin-bottom: 5.5rem;
}
.content {
  display: flex;
  flex-wrap: wrap;
  & > div {
    width: calc((100% - 6rem) / 3);
    //height: 37rem;
    padding-top: 23.5%;
    margin-right: 3rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;

    &:nth-child(3n) {
      margin-right: 0;
    }
    @media only screen and (max-width: 992px) {
      width: calc((100% - 3rem) / 2);
      padding-top: 33.5%;
      &:nth-child(3n) {
        margin-right: 3rem;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media only screen and (max-width: 650px) {
      width: 100%;
      margin-right: 0;
      padding-top: 40.5%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @media only screen and (max-width: 399px) {
      padding-top: 54%;
    }
  }
}
</style>