div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main, summary {
	display: block;
}
html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden !important;
}
body {
	min-width: 320px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
* {
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus,
*:active,
*:hover {
	outline: 0 none !important;
}
ul {
	list-style: none;
}

ul li {
	position: relative;
}

ul li::before {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 5px;
}

ol {
	list-style-type: decimal;
  	list-style-position: inside;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
	display: block;
	max-width: 100%;
	height: auto;
}
input, select, textarea, optgroup {
	width: 100%;
	margin: 0;
	padding: 0;
	background: transparent;
	border: 1px solid;
	border-radius: 0;
	font-family: inherit;
  font-size: inherit;
  line-height: normal;
  text-transform: none;
	-webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
}
input::-moz-placeholder {
	color: inherit; 
	opacity: 1;
}
input::-ms-input-placeholder {
	color: inherit; 
	opacity: 1;
}
input::-webkit-input-placeholder {
	color: inherit; 
	opacity: 1;
}
textarea::-moz-placeholder {
	color: inherit; 
	opacity: 1;
}
textarea::-ms-input-placeholder {
	color: inherit; 
	opacity: 1;
}
textarea::-webkit-input-placeholder {
	color: inherit; 
	opacity: 1;
}
input[type="checkbox"] {
	width: auto !important;
	height: auto !important;
	border: 0 none !important;
	margin: 0 !important;
	padding: 0 !important;
   -webkit-appearance: checkbox;
   -moz-appearance:   checkbox;
   appearance:        checkbox;
}
input[type="radio"] {
	width: auto !important;
	height: auto !important;
	border: 0 none !important;
	margin: 0 !important;
	padding: 0 !important;
   -webkit-appearance: radio;
   -moz-appearance:   radio;
   appearance:        radio;
}
input[type="submit"] {
	width: auto;
	cursor: pointer;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
textarea {
	resize: none;
}
input:focus,
select:focus, 
textarea:focus {
	outline: none;
}
svg {
	width: 100%;
	height: 100%;
	overflow: visible;
}
button {
	border: 0 none;
	background: transparent;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
button:focus {
	outline: none !important;
}

button,
select {
	cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
b,
strong {
  font-weight: 500;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
html {
    font-size: 62.5%;
    height: 100%;
    @media only screen and (max-width: 1600px) {
        font-size: 55%;
    }
    @media only screen and (max-width: 1499px) {
        font-size: 48%;
      }
    @media only screen and (max-width: 1399px) {
        font-size: 47%;
    }
    @media only screen and (max-width: 1199px) {
        font-size: 56%;
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          font-size: 62.5%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: none;
    line-height: 1.75;
    color: $textColor;
    position: relative;
    box-sizing: border-box;
    background-color: #F9FAFF;
    padding-top: 8rem;
    &.hidden{
        height: 100%;
    }
}
*::selection {
    color: #fff; /* Цвет текста */
    background: $orange; /* Цвет фона */
}
p:empty{
    padding: 0 !important;
    margin: 0 !important;
}
.container{
    width: 117rem;
    min-width: 117rem;
    max-width: 117rem;
    margin: 0 calc((100vw - 117rem) /2 );
    @media only screen and (max-width: 1199px){
        width: 105rem;
        min-width: 105rem;
        margin: 0 calc((100vw - 105rem) /2 );
    }
    @media only screen and (max-width: 992px){
        width: 75rem;
        min-width: 75rem;
        margin: 0 calc((100vw - 75rem) /2 );;
    }
    @media only screen and (max-width: 768px){
        width: calc(100vw - 3rem);
        min-width: calc(100vw - 3rem);
        margin: 0 1.5rem;
    }
}
ul {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
}
a,
button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.btn{
    display: inline-block;
    min-width: 11rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 3.5rem;
    border: none;
    border-radius: 4px;
    background-color: $orange;
    color: $white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    @media only screen and (max-width: 992px){
        padding: 0 2.5rem;
        min-width: 9.8rem;
    }
    @media only screen and (max-width: 450px){
        width: 100%;
    }
    position: relative;
    overflow: hidden; 
    span.text{
        position: relative;
        z-index: 2;
        
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -5rem;
      bottom: 0;
      right: 0;
      border-left: 5rem solid transparent;
      border-bottom: 8rem solid $orangeHover;
      transform: translateX(100%);
      transition: all 0.5s ease-out;
    }
  
    &:hover {
      &:before {
        transform: translateX(0);
      }
    }
    &-blue{
        background: $textBlue;
        &:before {
            border-bottom-color: $lightColor;
        }
    }
    &_icon{
        padding: 0 2rem;
        span.text{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            svg{
                width: 1.3rem;
                height: 1.5rem;
                margin-right: 7px;
            }
            @media only screen and (max-width: 450px){
                justify-content: center;
            }
        }
    }
    &_big{
        width: 27rem;
        height: 7rem;
        line-height: 7rem;
        font-size: 1.8rem;
        @media only screen and (max-width: 992px){
            height: 6rem;
            line-height: 6rem;
        }
    }
    &_play{
        min-width: 7rem;
        width: 7rem;
        height: 7rem;
        line-height: 7rem;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
                @media only screen and (max-width: 992px){
                    min-width: 6rem;
                    width: 6rem;
                    height: 6rem;
                    line-height: 6rem;
                }
        svg {
            width: 2.8rem;
            height: 2.5rem;
            padding-left: 0.6rem;
            @media only screen and (max-width: 992px){
                width: 2.4rem;
                height: 2.2rem;
            }
            path{
            transition: all .3s ease-in-out;
            }
        }
        &:after, &:before{
            display: none;
        }
    }
}
$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}
.btn-wrapper {
    display: none;
    position: relative;
    width: 23rem;
    margin-top: 4rem;
    cursor: pointer;
    @media only screen and (max-width: 992px){
        margin-top: 2.5rem;
    }
    @media (max-height: 499px) and (max-width: 899px) {
        margin-top: 1.5rem;
    }
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      border-radius: 4rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow{
            position: absolute;
            width: 2.8rem;
            height: 2.8rem;
            top: 2rem;
            left: 2.6rem;
            bottom: initial;
            background: url(../assets/img/play.svg) center center/contain no-repeat;
            @media only screen and (max-width: 1399px){
                left: 2.4rem;
            }
            @media only screen and (max-width: 980px){
                left: 2.2rem;
                top: 1.8rem;
                width: 2.3rem;
                height: 2.3rem;
            }
            &:before{
                display: none;
            }
        }  
    }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 50%;
      right: 4rem;
      transform: translateY(-50%);
      color: $white;
      font-weight: 700;
      line-height: 1.8;
      font-size: 1.8rem;
      text-align: center;
      text-transform: uppercase;
    }
    &:hover {
        .circle {
          width: 100%;
        }
        .button-text {
          color: $white;
        }
      }
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  text-decoration: none;
  outline: none;
}
h2{
    max-width: 50rem;
    font-size: 8rem;
    font-weight: 700;
    line-height: 9rem;
    text-transform: uppercase;
    color: #fff;
    @media only screen and (max-width: 992px){
        font-size: 60px;
        font-size: 6rem;
        line-height: 7rem;
    }
    @media only screen and (max-width: 768px){
        font-size: 50px;
        font-size: 5rem;
        line-height: 6rem;
    }
    @media only screen and (max-width: 499px){
        font-size: 40px;
        font-size: 4rem;
        line-height: 5rem;
    }
}
h3{
    font-size: 48rem;
    font-size: 4.8rem;
    line-height: 5.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    @media only screen and (max-width: 768px){
        font-size: 3.5rem;
        line-height: 4rem;
    }
    &.white{
        color: $white;
    }
}
h4{
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 4rem;
    font-weight: 700;
    @media only screen and (max-width: 768px){
        font-size: 3rem;
        line-height: 3rem;
    }
    &.title{
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    &.part-title{
        font-size: 3rem;
        line-height: 5.5rem;
        text-transform: uppercase;
        @media only screen and (max-width: 768px){
            font-size: 2.5rem;
            line-height: 3rem;
        }
        @media only screen and (max-width: 560px){
            margin-bottom: 1rem;
        }
    }
    &.white{
        color: $white;
    }
}
h5{
    font-size: 20px;
    font-size: 2rem;
    line-height: 3rem;
    &.title{
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
    }
    &.white{
        color: $white;
    }
}
h6{
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    &.blue{
        color: $textBlue;
    }
    &.orange{
        color: $orange;
    }
    &.white{
        color: #fff;
    }

}
p{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 500;
}
.news-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
            width: 100%;
    .news{
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .btn-wrapper{
            display: none;
        }
        .date{
            font-size: 12px;
            font-size: 1.2rem;
            line-height: 2.5rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
                 -webkit-box-align: center;
                     -ms-flex-align: center;
                         align-items: center;
            span.icon{
                display: inline-block;
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
    &.horizontal{
        .news{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            margin-right: 3rem;
            width: calc(49.5% - 1.5rem);
            @media only screen and (max-width: 1399px){
                margin-right: 20px;
                margin-right: 2rem;
                width: 50rem;
            }
            .img{
                height: 100%;
                margin-bottom: 0;
                min-width: 200px;
                max-width: 200px;
                width: 200px;
                min-height: 185px;
                min-height: 18.5rem;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                @media only screen and (max-width: 1399px){
                    min-width: 150px;
                    max-width: 150px;
                    width: 150px;
                    min-height: 165px;
                    min-height: 16.5rem;
                }
                &:after {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    content: "";
                    background: linear-gradient(
                        to top,
                        rgba(79, 79, 79, 1),
                        rgba(155, 155, 155, 0)
                    );
                    opacity: 0.6;
                    }
            }
            &:first-of-type{
                background-color: #15224E;
            }
            &:last-of-type{
                margin-right: 0;
                background-color: #fff;
                @media only screen and (max-width: 992px){
                    display: none;
                }
                h5{
                    color: #363636;
                }
            }
            .category{
                margin-bottom: 7px;
                display: block;
                line-height: 1.4rem;
                margin-bottom: 1.3rem;
            }
            .category, .date{
                font-size: 14px;
                font-size: 1.4rem;
                font-weight: 400;
                color: $grey;
            }
            .date{
                position: absolute;
                bottom: 1.7rem;
                @media only screen and (max-width: 992px){
                    bottom: 1.5rem;
                }
            }
            h5{
                margin-bottom: 1rem;
                font-weight: 700;
                margin-bottom: 2.5rem;
                @media only screen and (max-width: 1399px){
                    line-height: 2.5rem;
                }
            }
            &>div:last-of-type{
                padding: 22px 20px 17px 30px;
                padding: 2.2rem 2rem 1.7rem 3rem;
                @media only screen and (max-width: 1399px){
                    padding: 20px 13px 17px 20px;
                    padding: 2rem 1.3rem 1.7rem 2rem;
                }
                @media only screen and (max-width: 992px){
                    padding: 15px;
                    padding: 1.5rem;
                }
            }
            &.Video{
                .video-btn{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    min-width: 200px;
                    max-width: 200px;
                    width: 200px;
                    margin: 0;
                    @media only screen and (max-width: 1399px){
                        min-width: 150px;
                        max-width: 150px;
                        width: 150px;
                    }
                    .btn-wrapper{
                        display: block;
                        height: 100%;
                        width: 100%;
                        margin: 0;
                        .circle{
                            padding: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            overflow: visible;
                            &:after{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                height: 100%;
                                background-color: $orange;
                                content: '';
                                display: block;
                                border-radius: 50%;
                                transition: all 0.6s $easeOutQuint;
                                z-index: -1;
                                
                            }
                        }
                        &:hover{
                            .circle{
                                background-color: $orangeHover;
                                width: initial;  
                                &:after{
                                    width: 115%;
                                    height: 115%;
                                    background-color: $orangeHover;
                                }                              
                            }
                        }
                        .icon.arrow{
                            position: absolute;
                            transform: translate(-50%, -50%);
                            width: 2.8rem;
                            height: 2.8rem;
                            top: 50%;
                            left: 53%;
                            bottom: initial;
                            background: url(../assets/img/play.svg) center center/contain no-repeat;
                            &:before{
                                display: none;
                            }
                        }
                        .button-text{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.bg-line {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    &:after, &:before {
      position: absolute;
      height: 100%;
      width: calc(100% / 3);
      content: "";
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
    &:before{
        left: calc(100% / 3);
    }
    @media only screen and (max-width: 768px){
        border-left: none !important;
        border-right: none !important;
        &:after, &:before{
            display: none !important;
        }
    }
}

.hero{
    .bg-line{
        border: none !important
    }
    .slick-slide {
        position: relative;
        .content{
            div{
                overflow: hidden;
            }
            &:before{
                position: absolute;
                top: 0;
                left: 45%;
                width: 50%;
                //width: 0;
                height: 100%;
                content: "";
                background: -o-linear-gradient(156.06deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
                background: linear-gradient(293.94deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
                opacity: 0.9;
                transition: left 1.5s ease-out;
                @media only screen and (max-width: 1199px){
                    right: 0;
                    width: 30%;
                }
                @media only screen and (max-width: 768px){
                    width: 100vw;
                    right: -15px;
                }
            }
        }
        &.slick-active{
            .content div{
                overflow: visible;
            }
            &:after {
                width: calc(100% - 116.8rem);
                @media only screen and (max-width: 1199px){
                  width: calc((100% - 104.8rem )/ 2);
                  }
                  @media only screen and (max-width: 992px){
                      width: calc((100% - 74.8rem) / 2);
                  }
                  @media only screen and (max-width: 768px){
                      width: 0;
                  }
              }
        }
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(100vw - (100vw - 117rem));
            content: "";
            background: -o-linear-gradient(140.73deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
            background: linear-gradient(309.27deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
            opacity: 0.7;
            -webkit-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                    transform: rotate(-180deg);
            @media only screen and (max-width: 1199px){
                width: 100%;
            }
        }
        &:after {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          //width: calc(100vw - (100vw - 117rem));
          width: calc(100vw - 116.8rem);
          content: "";
          background: -o-linear-gradient(179.65deg, #0A0736 0.31%, rgba(30, 27, 68, 0.864583) 90%, rgba(38, 34, 98, 0.03) 150%);
          background: linear-gradient(270.35deg, #0A0736 0.31%, rgba(30, 27, 68, 0.864583) 90%, rgba(38, 34, 98, 0.03) 150%);
          opacity: 0.7;
          transition: all 0.3s ease-in-out;
          @media only screen and (max-width: 1199px){
            width: calc((100vw - 105rem) / 2);
            }
            @media only screen and (max-width: 992px){
                width: calc((100vw - 75rem) / 2);
            }
            @media only screen and (max-width: 768px){
                width: 0;
            }
        }
    }
    .slick-slider, .slick-track{
        height: 100%;
    }
    .slick-list {
        overflow: visible;
        height: 100%;
    }
    .slick-slide{
        position: relative;
        &.slick-active{
            .content{
                border-left: 1px solid rgba(255, 255, 255, 0.1);
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                @media only screen and (max-width: 768px){
                    border-left: none !important;
                    border-right: none !important;
                }
            }
        }
        & > div, & > div > div{
            height: 100%;
        }
        & > div > div{
            background-size: cover;
            background-position: top left;
            transition: background-position 0.2s $easeInQuint;
            @media only screen and (max-width: 768px){
                background-position: top center;
            }
            
        }
        &.slick-active > div > div{
            background-position: top center;
        }
    }
    .slick-dots{
        transform: scale(-1,-1);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        left: 6.5rem;
        bottom: 23%;
        z-index: 3;
        @media only screen and (max-width: 1199px){
            left: calc((100% - 105rem) / 2);
            transform: none;
        }
        @media only screen and (max-width: 992px){
            left: calc((100% - 78rem) / 2);
        }
        @media only screen and (max-width: 768px){
            bottom: 8rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .slick-dots li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 5px;
        &:first-of-type{
            margin: 0 0 0 5px;
        }
        &::before{
            display: none;
        }

        button{
            width: 3rem;
            height: 2px;
            background-color: #fff;
            border-radius: 0;
            font-size: 0;
        }
        &.slick-active{
            button{
                background-color: $orange;
            }
        }
    }
}
.hero .slick-slide.slick-active .content:before{
    left: 50%;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/



/*swiper button/pagination*/
.swiper-pagination {
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
    .swiper-pagination-bullet {
      width: 3rem;
      margin-right: 0.5rem;
      height: 2px;
      background: #fff;
      opacity: 1;
      border-radius: 0;
      transition: all 0.2s;
      &.swiper-pagination-bullet-active {
        background-color: $orange;
      }
      &.swiper-pagination-bullet-active-next-next,
      &.swiper-pagination-bullet-active-prev-prev {
        transform: scale(1);
        opacity: 0.1;
      }
      &.swiper-pagination-bullet-active-prev,
      &.swiper-pagination-bullet-active-next {
        transform: scale(1);
        opacity: 0.5;
      }
    }
  }

/*----------------------------------------------------------------------------------------------------------------------------------*/

.slider-overlay.small-slider{
    .slick-slide{
       &.slick-cloned{
           opacity: 0;
       }
    }
}



/*----------------------------------------------------------------------------------------------------------------------------------*/
.latest-news{
    .news-list.vertical {
        width: 50%;
        @media only screen and (max-width: 992px) {
            width: 70%;
        }
        .news{
            width: calc((100% - 3rem) / 2);
            margin-right: 3rem;
            &:nth-child(2){
                margin-right: 0;
            }
            @media only screen and (max-width: 992px) {
                width: calc((95% - 2rem) / 2);
                margin-right: 2rem;
            }
            @media only screen and (max-width: 768px){
                width: 100%;
                margin-right: 0;
            }
        }
    }
    & > .content > .alone{
        .news{
            background: transparent;
            width: 100%;
            justify-content: flex-start;
            padding-right: 5rem;
            padding-left: 9rem;
            //margin-left: 10rem;
            margin-right: 0;
            @media only screen and (max-width: 1399px){
                padding-left: 4rem;
            }
            @media only screen and (max-width: 992px){
                padding: 0 1rem 0 2rem;
            }
            .btn-wrapper{
                display: flex;
            }
            .date, .category{
                color: #A8A8A8;
                font-size: 1.2rem;
                line-height: 2.5rem;
                margin-bottom: 2rem;
                @media only screen and (max-width: 992px){
                    margin-bottom: 1rem;
                    line-height: 2rem;
                }
            }
            .category{
                display: inline-block;
                visibility: hidden;
                margin-bottom: 2.5rem;
            }
            .date{
                position: absolute;
                top: 10px;
            }
            & > div{
                position: relative;
                max-width: 42rem;
            }
            .img{
                display: none;
            }
            h5{
                font-size: 3.6rem;
                font-weight: 700;
                line-height: 5rem;
                @media only screen and (max-width: 992px){
                    font-size: 2.5rem;
                    line-height: 3.5rem;
                }
                @media (max-height: 499px) and (max-width: 899px) {
                    font-size: 3.6rem;
                    line-height: 5rem;
                }
            }
        }
    }
    .swiper-pagination{
        bottom: -6rem;
        left: 50%;
        transform: translateX(-50%);
        @media only screen and (max-width: 768px){
            bottom: -3rem;
        }
    }
    .swiper-container{
        //overflow: visible;
        width: 100%;
        margin-left: 0;
        overflow: visible;
    }
    .swiper-slide{
        .news{
            width: 100%;
            //max-width: 50rem;
            min-width: 30rem;
            margin: 0 auto;
            background: transparent;
            flex-direction: column;
            @media only screen and (max-width: 599px){
                min-width: 100%;
            }
            .category{
                display: none;
            }
            .img{
                width: 100%;
                margin: 0 auto;
                //padding-top: 70%;
                background-position: top center;
                border-radius: 4px;
                margin-bottom: 3rem;
            }
            .btn-wrapper{
                display: none;
            }
        }
    }
}

/*-----------------------------------------------------------------------------------------------------------*/

/*sponsors*/
.sponsors{
    .swiper-pagination-bullet{
        background-color: rgba(21, 34, 78, 0.5);
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #15224e;
    }
}


/*-----------------------------------------------------------------------------*/

/*table*/

.season{
    .vgt-wrap{
        max-width: 100%;
    }
}
.container-small{
    padding: 0 20rem;
    @media only screen and (max-width: 992px){
        padding: 0 15rem;
    }
    @media only screen and (max-width: 768px){
        padding: 0;
    }
}
.template-page{
    .intro {
        width: 100%;
        height: 45rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &::before {
          width: calc((100vw - 117rem) / 2);
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          content: "";
          background: linear-gradient(
            270.12deg,
            #0a0736 0.08%,
            rgba(30, 27, 68, 0.864583) 51.53%,
            rgba(38, 34, 98, 0.03) 162.03%
          );
          opacity: 0.8;
          @media only screen and (max-width: 1199px){
            width: calc((100vw - 105rem) / 2);
          }
          @media only screen and (max-width: 992px){
            width: calc((100vw - 75rem) / 2);
          }
          @media only screen and (max-width: 768px){
            width: 100%;
            opacity: 0.3;
          }
        }
        &::after {
            width: calc((100vw - 121rem) / 2);
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            content: "";
            background: linear-gradient(270.09deg, #0A0736 0.08%, rgba(30, 27, 68, 0.864583) 51.53%, rgba(38, 34, 98, 0.03) 100%);
            opacity: 0.35;
            width: calc((100% - 117rem ) / 2);
                @media only screen and (max-width: 1199px){
                  width: calc((100% - 104.8rem )/ 2);
                  }
                  @media only screen and (max-width: 992px){
                      width: calc((100% - 74.8rem) / 2);
                  }
                  @media only screen and (max-width: 768px){
                      width: 0;
                  }
          }
        .content {
            position: relative;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            //z-index: 2;
            .container-small{
                padding-left: 0;
                @media only screen and (max-width: 992px){
                    padding: 0;
                  }
            }
            & > div:not(.back-to-main) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                padding-bottom: 4rem;
                position: relative;
                z-index: 2;
                @media only screen and (max-width: 768px){
                    padding-bottom: 2rem;
                }
                h3 {
                    margin-bottom: 0;
                    line-height: 1.5;
                    @media only screen and (max-width: 992px){
                        margin-bottom: 1rem;
                        line-height: 1.3;
                    }
                }
                h4 {
                    text-transform: capitalize;
                    line-height: 1.5;
                    max-width: 80%;
                    @media only screen and (max-width: 768px){
                        max-width: 100%;
                    }
                    &.part-title-small{
                        font-size: 3rem;
                        line-height: 1.5;
                         @media only screen and (max-width: 768px){
                            font-size: 2.5rem;
                        }
                    }
                    & + .tags{
                        width: 100%;
                        min-height: 2rem;
                        margin-top: 2rem;
                    }
                }
                @media only screen and (max-width: 768px){ 
                    flex-direction: column-reverse;
                }
            }
            &:before {
                width: calc(100% + (100vw - 117rem) / 2);
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                content: "";
                background: linear-gradient(
                339.72deg,
                #0a0736 0.36%,
                rgba(30, 27, 68, 0.864583) 18.11%,
                rgba(38, 34, 98, 0.03) 56.23%
                );
                opacity: 0.7;
                transform: rotate(-180deg);
                
                @media only screen and (max-width: 1199px){
                    width: calc(100% + (100vw - 105rem) / 2);
                }
                @media only screen and (max-width: 992px){
                    width: calc(100% + (100vw - 75rem) / 2);
                }
                @media only screen and (max-width: 768px){
                    width: 100vw;
                    left: -1.5rem;
                    background: linear-gradient(24.43deg, #0A0736 0%, rgba(30, 27, 68, 0.864583) 27.8%, rgba(38, 34, 98, 0.03) 87.51%);
                    transform: rotate(0);
                  }
            }
        }
    }
    &.about{
        .intro{
            background-position: 70% center;
        }
        .page-content{
            padding-bottom: 8.5rem;
            @media only screen and (max-width: 992px) {
                padding-bottom: 5rem;
            }
        }
        .intro .content > div:not(.back-to-main) h4.part-title-small{
            max-width: 100%;
            margin-bottom: 2.5rem;
            font-size: 4.8rem;
            @media only screen and (max-width: 1399px) {
                font-size: 4rem;
                margin-bottom: 3rem;
            }
            @media only screen and (max-width: 992px) {
                font-size: 3rem;
                margin-bottom: 3rem;
            }
            @media only screen and (max-width: 768px){
                margin-bottom: 1.5rem;
            }
        }
    }
    .about {
        p { 
            margin-bottom: 4rem;
            color: #000;
            &:last-of-type{
                margin-bottom: 5.5rem;
            }
            strong{
                display: block;
                padding-top: 1.5rem;
                font-size: 2rem;
                line-height: 3rem;
                color: #363636;
                text-transform: inherit;
            }
            @media only screen and (max-width: 1199px){
               margin-bottom: 2.5rem;
            }
            
            img {
                border-radius: 4px;
                max-height: 48rem !important;
                width: 100% !important;
                width: auto !important;
                margin: 0 auto;
                @media only screen and (max-width: 992px){
                    max-height: 42rem !important;
                }
                @media only screen and (max-width: 599px){
                    max-height: 34rem !important;
                }
                @media only screen and (max-width: 499px){
                    max-height: 30rem !important;
                }
                @media only screen and (max-width: 399px){
                    max-height: 23rem !important;
                }
            }
        } 
        p{
            .photo-video {
                position: relative;
                margin-bottom: 2rem;
                margin-top: 3rem;
                .preview {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 1;
                    border-radius: 4px;
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: "";
                        background: rgba(0, 0, 0, 0.25);
                    }
                    .btn-wrapper{
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        display: block;
                        z-index: 1;
                        .circle{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                        &:hover{
                            .circle{
                                background-color: #ffa200;
                                width: initial;
                                .icon.arrow{
                                    //background: transparent;
                                    //transform: translate(1.5rem, 0);
                                }
                            }
                        }
                    }
                }
                img {
                    border-radius: 4px;
                    max-height: 48rem !important;
                    width: 100% !important;
                    @media only screen and (max-width: 992px){
                        max-height: 42rem !important;
                    }
                    @media only screen and (max-width: 599px){
                        max-height: 36rem !important;
                    }
                    @media only screen and (max-width: 499px){
                        max-height: 30rem !important;
                    }
                    @media only screen and (max-width: 399px){
                        max-height: 23rem !important;
                    }
                }
                span {
                display: block;
                position: relative;
                font-size: 1.4rem;
                color: #a8a8a8;
                text-align: center;
                padding: 2.5rem 0 2.4rem;
                border-bottom: 1px solid #e1e1e1;
                &:empty {
                    border: none;
                    padding: 0;
                }
                }
                
                &+img{
                    display: none;
                }
            }
        }
    }  
    .info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .date-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 0 2rem;
        margin-bottom: 4rem;
        border-bottom: 1px solid #e1e1e1;
        h5 {
          color: #363636;
          font-size: 1.4rem;
          font-weight: 500;
          text-transform: uppercase;
        }
    }
    .page-content {
        position: relative;
        display: flex;
        padding-bottom: 6rem;
        /*.sticky-sidebar {
          opacity: 0;
          visibility: hidden;
          min-width: 20rem;
          width: 20rem;
          @media only screen and (max-width: 992px) {
            min-width: 15rem;
            width: 15rem;
          }
          @media only screen and (max-width: 768px) {
            display: none;
          }
        }*/
        .container-small {
            padding: 4rem 7rem 0 0;
            max-width: 85rem;
            margin: 0 auto;
          @media only screen and (max-width: 992px) {
            padding: 4rem 5rem 0;
          }
          @media only screen and (max-width: 499px){
            padding: 4rem 0 0;
          }
        }
      }
}

.country-overlay{
    transform: scale(1.2, 1);
}


.news-created-list {
    .news-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: calc(100% + 3rem);
        @media only screen and (max-width: 1199px){
            width: calc(100% + 2rem); 
        }
        @media only screen and (max-width: 769px){
            width: 100%; 
        }
      .news {
        width: calc((100% - 12rem) / 4);
        margin-right: 3rem;
        margin-bottom: 4.5rem;
        @media only screen and (max-width: 1199px){
            width: calc((100% - 8rem) / 4);  
            margin-right: 2rem;
            margin-bottom: 4rem;
        }
        h5{
            color: #363636;
        }
        .btn-wrapper{
            display: none;
        }
        .img{
            height: 20.5rem;
            width: 100%;
          }
        
        &:nth-child(1), &:nth-child(2), &:nth-child(3){
            width: calc((100% - 9rem) / 3);
            @media only screen and (max-width: 1199px){
                width: calc((100% - 6rem) / 3);  
            }
            .img{
                height: 25rem;
            }
        }
        @media only screen and (max-width: 992px){
            width: calc((100% - 6rem) / 3);
            margin-right: 2rem;
            &:nth-child(1n){
                width: calc((100% - 6rem) / 3);
                .img{
                    height: 18rem;

                }
            }
        }
        @media only screen and (min-width: 769px){
            &.extended {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: calc(100% - 3rem);
            padding: 5rem 0;
            border-top: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;
            margin-bottom: 6rem;
            @media only screen and (max-width: 1199px){
                width: calc(100% - 2rem);  
                padding: 3rem 0;
                margin-bottom: 3rem;
            }
            //margin-right: 0;
            h5{
                font-size: 3rem;
                line-height: 4rem;
                font-weight: 700;
                padding-right: 2rem;
                margin-bottom: 1.1rem;
            }
            .category{
                display: block;
                color: #b2b2b3;
                font-size: 1.6rem;
                line-height: 2.5rem;
                margin-bottom: 1.1rem;
            }
            }
        }
        @media only screen and (min-width: 769px) and (max-width: 1199px){
            &.extended h5{
                font-size: 2.3rem;
                line-height: 3.3rem;
            }
        }
        @media only screen and (max-width: 768px){
            width: calc((100% - 2rem) / 2);
            margin-right: 2rem;
            overflow: hidden;
            &:nth-child(1n){
                width: calc((100% - 2rem) / 2);
                .img{
                    min-height: 20.5rem;
                    height: 25rem;
                }
            }
            &:nth-child(3n){
                margin-right: 2rem;
            }
            &:nth-child(2n){
                margin-right: 0;
            }
        }
        @media only screen and (max-width: 499px){
            width: 100%;
            margin-right: 0;
            &:nth-child(1n){
                width: 100%;
                margin-right: 0;
                .img{
                    min-height: 20.5rem;
                    height: 30rem;
                }
            }
        }
        @media only screen and (max-width: 399px){
            &:nth-child(1n){
                .img{
                    min-height: 20.5rem;
                    height: 21rem;
                }
            }
        }
      }
    }
    .swiper-button-next,
      .swiper-button-prev {
        width: auto;
        height: auto;
        margin: 0;
        background: #15224e;
        border-radius: 50%;
        svg{
            width: 27px;
            height: 14px;
            margin: 2.8rem 2.15rem;
        }
      }
  }

.bio {
    p {
        font-size: 1.6rem;
        line-height: 3rem;
        font-weight: 300;
        color: #222;
        margin-bottom: 1.5rem;
      }
}

.staff-text{
    p{
        font-size: 1.6rem;
        font-weight: 300;
        color: #363636;
        margin-bottom: 1.5rem;
        letter-spacing: 0;
        strong{
            font-family: 'Poppins', sans-serif;
            display: inline-block;
            font-weight: 500;
            color: #363636;
            margin-bottom: 0.5rem;
        }
    }
}
.container-small{
    p{
        font-weight: 300;
        strong{
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

.social-sharing{
    li > span{
      display: flex;
      width: 2rem;
      height: 2rem;
      background-size: cover;
      background-position: center;
      margin: 0 0.75rem;
      cursor: pointer;
      @media only screen and (max-width: 768px) {
          margin-left: 0.5rem;
      }
    }
}



  .slider-overlay.small-slider .slick-list {
    @media only screen and (max-width: 599px){
        padding-right: 11.5rem;
    }
  }
  html.page-update{
    .body-overlay{
        animation: slideDown 3s cubic-bezier(.99,0,.93,.49) forwards;
        div{
            animation: slideDown2 2s cubic-bezier(.99,0,.93,.49) 0.8s forwards;
        }
    }
  }
  .body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: #15224e;
    transform: translateY(-100%);
    div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        img{
            width: 5rem;
            margin-right: 10px;
        }
    }
    h2{
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        white-space: nowrap;
        z-index: 999;  
        @media only screen and (max-width: 768px) {
            font-size: 13px;
        }
    }
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    40%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
  }

  @keyframes slideDown2 {
    0% {
        top: 50%;
        opacity: 0;
        color: #fff;
      }
      35% {
          top: 50%;
          opacity: 1;
        }
      60% {
          top: 50%;
          opacity: 1;
      }
      70% {
          opacity: 0.5;
      }
      100% {
        top: 10%;
        opacity: 0;
        color: #fff;
      }
  }





  .sponsors-page{
      & + div{
          .shop, .sponsors{
              display: none;
          }
      }
  }

  .video-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .video-link{
        margin: 2.5px 0;
    }
    .btn{
        min-width: 20rem;
        @media only screen and (max-width: 1199px) {
            min-width: 18rem;
        }
        @media only screen and (max-width: 599px){
            min-width: 20rem;
        }
    }
    @media only screen and (max-width: 992px) {
        margin-top: 2rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        .video-link{
            margin-right: 10px;
        }
    }
    @media only screen and (max-width: 560px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
  }
  .video-line{
    .video-link{
        margin: 0 10px;
        .btn{
            min-width: 20rem;
        }
    }
  }
  .match-schedule .video-line{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    @media only screen and (max-width: 599px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
  }



  .table.vgt-wrap {
    margin-top: 7rem;
    &.small{
        margin-top: 3.5rem;
        @media only screen and (max-width: 768px) {
            margin-top: 3rem;
        }
    }
    @media only screen and (max-width: 768px) {
      margin-top: 4rem;
    }
  }
  .table {
    .table-header {
      width: 100%;
      display: flex;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      overflow: hidden;
      div {
        background: #283891;
        border: none;
        color: #fff;
        font-size: 1.3rem;
        line-height: 1.2;
        font-weight: 600;
        padding: 1rem 1rem 1rem 1.5rem;
        box-sizing: content-box;
        &.secondary {
            @media only screen and (max-width: 650px) {
              display: none;
            }
          }
        &:first-of-type {
          border-top-left-radius: 2px;
          //border-bottom-left-radius: 2px;
        }
        &:last-of-type {
          border-top-right-radius: 2px;
          //border-bottom-right-radius: 2px;
        }
        padding: 1rem;
        text-align: center;
        width: calc((100% - 50rem)/ 8) !important;
        @media only screen and (max-width: 992px) {
            width: calc((100% - 41rem)/ 7) !important;
          }
        @media only screen and (max-width: 650px) {
          padding: 1rem 0.5rem;
          width: calc((100% - 14rem)) !important;
          font-size: 11px;
        }
        &:nth-child(2) {
          text-align: left;
          width: 56rem !important;
          @media only screen and (max-width: 992px) {
            width: 35rem !important; 
          }
          @media only screen and (max-width: 650px) {
            width: calc((100% - 13rem)) !important;
            padding-left: 10px;
          }
        }
        &:nth-child(1) {
          text-align: left;
          @media only screen and (max-width: 992px) {
            width: 8rem !important;
          }
          @media only screen and (max-width: 650px) {
            width: 7rem !important;
            text-align: center;
          }
        }
        &:last-child {
          @media only screen and (max-width: 650px) {
            width: 6rem !important;
            text-align: center;
          }
        }
      }
    }
    .table-body {
      & > div {
        display: flex;
        &:last-child:nth-child(2n + 1) {
          border-bottom: 3px solid #eff1f8;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 3px;
            background: #283891;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
          }
        }
        &:last-child:nth-child(2n) {
          border-bottom: 3px solid #fff;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 3px;
            background: #283891;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
          }
        }
        &:nth-of-type(odd) {
          background: #fff;
        }
        &:nth-of-type(even) {
          background: #eff1f8;
        }
        &.active {
          div {
            text-transform: capitalize;
            font-weight: 700;
          }
        }
        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
          border: none;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 500;
          height: 4rem;
          line-height: 1.5;
          color: #363636;
          padding: 0;
          box-sizing: content-box;
          &.secondary {
            @media only screen and (max-width: 650px) {
              display: none;
            }
          }
          &:nth-child(2) {
            text-align: left;
            justify-content: flex-start;
          }
          width: calc((100% - 50rem)/ 8);
          padding: 1rem 0.5rem 0.7rem 0.5rem;
          @media only screen and (max-width: 992px) {
            width: calc((100% - 35rem)/ 7);
          }
          @media only screen and (max-width: 768px) {
            padding: 0.5rem;
            font-size: 1.3rem;
            height: auto;
          }
          @media only screen and (max-width: 650px) {
            width: calc((100% - 14rem));
          }
          &:nth-child(2) {
            text-align: left;
            width: 50rem;
            @media only screen and (max-width: 992px) {
                width: 35rem;
              }
            @media only screen and (max-width: 650px) {
              width: calc((100% - 12rem)) !important;
              padding-left: 10px;
            }
          }
          &:nth-child(1) {
            @media only screen and (max-width: 992px) {
              width: 8rem !important;
            }
            @media only screen and (max-width: 650px) {
                width: 6rem !important;
                text-align: center;
              }
          }
          &:last-child {
            @media only screen and (max-width: 650px) {
              width: 6rem !important;
              text-align: center;
            }
          }
          .title {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .img{
                width: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 2rem;
                @media only screen and (max-width: 768px) {
                    margin-right: 1rem;
                }
            }
            img {
              height: 4rem;
              width: auto;
              
              @media only screen and (max-width: 768px) {
                width: auto;
                height: 3rem;
                
              }
            }
          }
        }
      }
    }
  }

 .small{
    max-width: 40rem;
    margin: 3.5rem auto 0;
   .table .table-body > div > div {
       padding: 10px;
       width: calc(40rem / 3) ;
       @media only screen and (max-width: 650px) {
           padding: 10px 5px;
       }
   } 
   .table .table-header div{
        width: calc(40rem / 3) !important;
        @media only screen and (max-width: 650px) {
            width: 7rem !important;
          }
   }
   .table .table-header div:nth-child(1), .table .table-header div:last-of-type {
    @media only screen and (max-width: 992px) {
      width: 8rem !important;
      text-align: center;
    }
    @media only screen and (max-width: 650px) {
        width: 6rem !important;

      }
  }
   .table .table-header div:nth-child(2){
        width: 35rem !important;
        @media only screen and (max-width: 992px) {
            width: calc(100% - 16rem) !important
          }
          @media only screen and (max-width: 650px) {
              width: calc(100% - 12rem) !important;
            }
   }
   .table .table-body > div > div:nth-child(2){
       width: 35rem;
       @media only screen and (max-width: 992px) {
        width: calc(100% - 16rem) !important
      }
      @media only screen and (max-width: 650px) {
          width: calc(100% - 12rem) !important;
        }
   }
   .vgt-responsive{
        overflow: inherit;
   }
   .table .table-body > div.active{
       div{
        text-transform: uppercase;
       }
   }
   .table .table-body > div > div{
       height: auto;
   }
 } 

 .table:not(.small) .table .table-body > div.active{
    background: #fdc65a;
 }