$orange: #FBBB00;
$orangeHover: #ffa200;
$textColor: #363636;
$lightColor: #596ba7;
$textBlue: #283891;
$white: #FFFFFF;
$blue: #15224E;
$grey: #A8A8A8;
$Mont: 'Montserrat', sans-serif;
$Rob:  'Roboto', sans-serif;




// dev VUE_APP_URL=https://backend.football.1pls1.com/api

// stage VUE_APP_URL=https://www.staging.admin.bridgeport.1pls1.com/api


// prod VUE_APP_URL=https://admin.bportutd.com/api

$easeOutQuint : cubic-bezier(0, 0.92, 0.26, 1.02);
$easeInQuint :cubic-bezier(.99,0,.93,.49)